layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        children
    }
    tab name="Dev" split_direction="horizontal" focus=true {
        pane command="$EDITOR" close_on_exit=false {
            args "."
        }
    }
    tab name="Git" {
        pane borderless=true command="lazygit"
    }
    tab name="Terminal" {
        pane split_direction="vertical" {
            pane
            pane
        }
    }
}

pane_frames true
