[user]
	email = 42489409+danielsanjosepro@users.noreply.github.com
  name = Daniel San José Pro

[core]
	editor = nvim
    pager = delta
[pull]
	rebase = false
[push]
	autoSetupRemote = true

[merge]
    tool = nvimdiff
[alias]
  mergetool = "!nvim -c DiffviewOpen"
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[fetch]
    prune = true


[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    ; side-by-side = true
    line-numbers = true
    dark = true
    syntax-theme = gruvbox-dark
    true-color = always

    conflictStyle = zdiff3
