[user]
	email = 42489409+danielsanjosepro@users.noreply.github.com
  name = Daniel San José Pro

[core]
	editor = nvim
[pull]
	rebase = false
[push]
	autoSetupRemote = true

[merge]
    tool = nvimdiff
[alias]
  mergetool = "!nvim -c DiffviewOpen"
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
