@import "gruvbox.css";

@define-color backgroundWaybar alpha(@base, 0.0);
@define-color backgroundWaybarTransparent alpha(@base, 0.2);
@define-color foregroundWaybar @actice_tab_foreground;
@define-color activeButton @color11;


* {
  border: none;
  border-radius: 5px;
  font-family: FiraCode Nerd Font, monospace;
  font-size: 10px;
  min-height: 0;
}

window#waybar {
  border-radius: 0px;
  color: @foregroundWaybar;
}

tooltip {
  background: @backgroundWaybar;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  background: rgba(0, 0, 0, 0);
  color: @surface2;
  padding: 2px 4px;
  margin-right: 2px;
}

#workspaces button.active {
  color: @activeButton;
  background: @backgroundWaybar;
  border-radius: 5px;
}

#workspaces button.focused {
  color: #a6adc8;
  background: @surface1;
  border-radius: 5px;
}

#workspaces button.urgent {
  color: #11111b;
  background: @yellow;
  border-radius: 5px;
}

#workspaces button:hover {
  background: @surface1;
  color: @color12;
  border-radius: 5px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-keyboard,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#bluetooth,
#cpu,
#idle_inhibitor,
#backlight {
  background: @backgroundWaybar;
  color: @foregroundWaybar;
  padding: 1px 6px;
  margin: 5px 0px 5px 0px;
}


#custom-keyboard,
#bluetooth,
#network,
#pulseaudio,
#idle_inhibitor{
  border-radius: 0px;
}

#tray {
  border-radius: 0px;
  margin-right: 10px;
}

#workspaces {
  background: @backgroundWaybarTransparent;
  margin: 5px 0px 0px 0px;
  border-radius: 5px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 0px;
}


#custom-updates {
  border-radius: 5px 0px 0px 5px;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 0px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  border-radius: 5px;
  margin-left: 5px;
  border-right: 0px;
}

#backlight {
  border-radius: 5px 0px 0px 5px;
}

#network {
  border-left: 0px;
  border-right: 0px;
  font-size: 12px;
}

#pulseaudio {
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  border-radius: 0px 5px 5px 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 5px;
}
#cpu {
  border-radius: 0px 5px 5px 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 5px;
}

#battery {
  border-radius: 5px 5px 5px 5px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 10px;
  border-right: 0px;
}
