themes {
    default {
        fg "#0b0d0e"
        bg "#9D6F53"
        black "#d8d4ca"
        red "#F59926"
        green "#B98F6D"
        yellow "#E9A562"
        blue "#5D7D86"
        magenta "#67919E"
        cyan "#d8d4ca"
        white "#97948d"
        orange "#9D6F53"
    }
}
