themes {
    default {
        fg "#0a1113"
        bg "#495B5D"
        black "#96cfd6"
        red "#1D8B79"
        green "#08718C"
        yellow "#1B7893"
        blue "#4F7A88"
        magenta "#0E93A5"
        cyan "#96cfd6"
        white "#699095"
        orange "#495B5D"
    }
}
